* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.filter__cards {
  overflow: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  min-height: 100px; /* yoki height: auto */
}

.filter__cards li {
  display: flex;
  align-items: center;
  padding: 5px;
  background: #DFDFDF;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;

}
.filter__cards::-webkit-scrollbar {
  height: 0;
}
.filters__card {
  display: flex;
  height: 45px;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.container  {
  width: 1440px;
}

.container .wrapper   {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card   {
    background-color: #fff;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }


  
  /* Rasm qismi */
  .card__image img   {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  
  
  /* Matnli qism */
  .card__body {
    padding: 15px;
  }
  
  .card__body h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card__body h3 {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
.seeMoreButton {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seeMoreButton button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #a3a5a3;
  color: white;
}
